<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" thread-count="2" parallel="tests">
    <test name="Chrome" thread-count="6" parallel="methods">
        <parameter name="browser" value="CHROME"/>
        <packages>
            <package name="org.selenium.pom.tests" >
<!--                <methods>
                    <include name="NavigateFromHomeToStoreUsingMainMenu"/>
                </methods>-->
            </package>
        </packages>
    </test>
<!--    <test name="Firefox" thread-count="2" parallel="methods">
        <parameter name="browser"  value="FIREFOX"/>
        <classes>
            <class name="org.selenium.pom.tests.MyFirstTestCase" />
        </classes>
    </test>-->
</suite>
